<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.nearbuy.qa.api.test.LocalMigrationTest2_B</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLocalMigration</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeEveryClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initializeClassLocalMigrationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeEveryMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>revertClassConfiguration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>afterEveryClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.nearbuy.qa.api.test.LocalMigrationTest2_C</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLocalMigration</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeEveryClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initializeClassLocalMigrationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeEveryMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>revertClassConfiguration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>afterEveryClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.nearbuy.qa.api.test.LocalMigrationTest2_D</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLocalMigration</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeEveryClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initializeClassLocalMigrationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeEveryMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>revertClassConfiguration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>afterEveryClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.nearbuy.qa.api.test.LocalMigrationTest2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLocalMigration</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeEveryClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initializeClassLocalMigrationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeEveryMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>revertClassConfiguration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>afterEveryClass</td>
<td>&nbsp;</td></tr>
</table>
