<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Local Deal Migration</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:11:39</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEachTestCycle()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_B@5f192118]">&lt;&lt;afterEachTestCycle</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1560206193</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:12:48</td>   <td>68927</td> <td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEachTestCycle()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_C@3b08a056]">&lt;&lt;afterEachTestCycle</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@577509166</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:13:06</td>   <td>86711</td> <td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEachTestCycle()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&lt;&lt;afterEachTestCycle</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1123837230</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:13:20</td>   <td>100482</td> <td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEachTestCycle()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2@17e4be04]">&lt;&lt;afterEachTestCycle</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@327386448</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:11:39</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEveryClass()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_B@5f192118]">&lt;&lt;afterEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1560206193</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:12:48</td>   <td>68926</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEveryClass()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_C@3b08a056]">&lt;&lt;afterEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@577509166</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:13:06</td>   <td>86711</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEveryClass()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&lt;&lt;afterEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1123837230</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:13:20</td>   <td>100482</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEveryClass()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2@17e4be04]">&lt;&lt;afterEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@327386448</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 13:13:20</td>   <td>100495</td> <td title="&lt;&lt;APITestBase.afterSuite()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1208020886</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryClass(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_C@3b08a056]">&gt;&gt;beforeEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@577509166</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryClass(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2@17e4be04]">&gt;&gt;beforeEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@327386448</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryClass(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_B@5f192118]">&gt;&gt;beforeEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1560206193</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryClass(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&gt;&gt;beforeEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1123837230</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:36:55</td>   <td>-2083825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2@17e4be04]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>TestNG@327386448</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:38:54</td>   <td>-1965612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_B@5f192118]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1560206193</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:40:58</td>   <td>-1841660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_C@3b08a056]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>TestNG@577509166</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:42:53</td>   <td>-1725795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1123837230</td>   <td></td> </tr>
<tr bgcolor="8e7f8f">  <td>16/02/09 12:35:56</td>   <td>-2142953</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocalMigrationTest2_B.initializeClassLocalMigrationTest()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_B@5f192118]">&gt;&gt;initializeClassLocalMigrationTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1560206193</td>   <td></td> </tr>
<tr bgcolor="949cb3">  <td>16/02/09 12:35:56</td>   <td>-2142953</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocalMigrationTest2.initializeClassLocalMigrationTest()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2@17e4be04]">&gt;&gt;initializeClassLocalMigrationTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@327386448</td>   <td></td> </tr>
<tr bgcolor="b2dd7b">  <td>16/02/09 12:35:56</td>   <td>-2142953</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocalMigrationTest2_D.initializeClassLocalMigrationTest()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&gt;&gt;initializeClassLocalMigrationTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1123837230</td>   <td></td> </tr>
<tr bgcolor="7fba6e">  <td>16/02/09 12:35:56</td>   <td>-2142953</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocalMigrationTest2_C.initializeClassLocalMigrationTest()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_C@3b08a056]">&gt;&gt;initializeClassLocalMigrationTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@577509166</td>   <td></td> </tr>
<tr bgcolor="949cb3">  <td>16/02/09 13:05:20</td>   <td>-379522</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocalMigrationTest2.revertClassConfiguration()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2@17e4be04]">&lt;&lt;revertClassConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@327386448</td>   <td></td> </tr>
<tr bgcolor="8e7f8f">  <td>16/02/09 13:05:39</td>   <td>-360012</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocalMigrationTest2_B.revertClassConfiguration()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_B@5f192118]">&lt;&lt;revertClassConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1560206193</td>   <td></td> </tr>
<tr bgcolor="7fba6e">  <td>16/02/09 13:09:48</td>   <td>-111079</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocalMigrationTest2_C.revertClassConfiguration()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_C@3b08a056]">&lt;&lt;revertClassConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@577509166</td>   <td></td> </tr>
<tr bgcolor="b2dd7b">  <td>16/02/09 13:12:06</td>   <td>26707</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocalMigrationTest2_D.revertClassConfiguration()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&lt;&lt;revertClassConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1123837230</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143328</td> <td title="&gt;&gt;APITestBase.setUp()[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1208020886</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143232</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.setUpEnvironment(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_C@3b08a056]">&gt;&gt;setUpEnvironment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@577509166</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143232</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.setUpEnvironment(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">&gt;&gt;setUpEnvironment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1123837230</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143232</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.setUpEnvironment(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2@17e4be04]">&gt;&gt;setUpEnvironment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@327386448</td>   <td></td> </tr>
<tr bgcolor="b79f80">  <td>16/02/09 12:35:56</td>   <td>-2143232</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.setUpEnvironment(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_B@5f192118]">&gt;&gt;setUpEnvironment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1560206193</td>   <td></td> </tr>
<tr bgcolor="949cb3">  <td>16/02/09 12:36:55</td>   <td>-2083825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocalMigrationTest2.verifyLocalMigration(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2@17e4be04]">verifyLocalMigration</td> 
  <td>TestNG@327386448</td>   <td></td> </tr>
<tr bgcolor="8e7f8f">  <td>16/02/09 12:38:54</td>   <td>-1965612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocalMigrationTest2_B.verifyLocalMigration(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_B@5f192118]">verifyLocalMigration</td> 
  <td>TestNG@1560206193</td>   <td></td> </tr>
<tr bgcolor="7fba6e">  <td>16/02/09 12:40:58</td>   <td>-1841660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocalMigrationTest2_C.verifyLocalMigration(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_C@3b08a056]">verifyLocalMigration</td> 
  <td>TestNG@577509166</td>   <td></td> </tr>
<tr bgcolor="b2dd7b">  <td>16/02/09 12:42:53</td>   <td>-1725795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocalMigrationTest2_D.verifyLocalMigration(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.LocalMigrationTest2_D@114adad2]">verifyLocalMigration</td> 
  <td>TestNG@1123837230</td>   <td></td> </tr>
</table>
