<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Api Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="999077">  <td>16/01/06 13:26:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;A.afterClass()[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="7ad9fa">  <td>16/01/06 13:26:32</td>   <td>5057</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;B.afterClass()[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:32</td>   <td>5003</td> <td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEachTestCycle()[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&lt;&lt;afterEachTestCycle</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:37</td>   <td>10063</td> <td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEachTestCycle()[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&lt;&lt;afterEachTestCycle</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:32</td>   <td>5000</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEveryClass()[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&lt;&lt;afterEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:37</td>   <td>10062</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEveryClass()[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&lt;&lt;afterEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:37</td>   <td>10075</td> <td title="&lt;&lt;APITestBase.afterSuite()[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:27</td>   <td>-292</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryClass(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&gt;&gt;beforeEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:32</td>   <td>5033</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryClass(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&gt;&gt;beforeEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:27</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:27</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:27</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:27</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:32</td>   <td>5043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:32</td>   <td>5047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:32</td>   <td>5052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:32</td>   <td>5055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="999077">  <td>16/01/06 13:26:27</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;A.initializeClassCustomerProfileService()[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&gt;&gt;initializeClassCustomerProfileService</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="7ad9fa">  <td>16/01/06 13:26:32</td>   <td>5041</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;B.initializeClassCustomerProfileService()[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&gt;&gt;initializeClassCustomerProfileService</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:27</td>   <td>-370</td> <td title="&gt;&gt;APITestBase.setUp()[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:27</td>   <td>-297</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.setUpEnvironment(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">&gt;&gt;setUpEnvironment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="b37b66">  <td>16/01/06 13:26:32</td>   <td>5033</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.setUpEnvironment(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">&gt;&gt;setUpEnvironment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="999077">  <td>16/01/06 13:26:27</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A.testMethod1(java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">testMethod1</td> 
  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="999077">  <td>16/01/06 13:26:27</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A.testMethod1(java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">testMethod1</td> 
  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="7ad9fa">  <td>16/01/06 13:26:32</td>   <td>5043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B.testMethod1(java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">testMethod1</td> 
  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="7ad9fa">  <td>16/01/06 13:26:32</td>   <td>5047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B.testMethod1(java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">testMethod1</td> 
  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="999077">  <td>16/01/06 13:26:27</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A.testMethod2(java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">testMethod2</td> 
  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="999077">  <td>16/01/06 13:26:27</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A.testMethod2(java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.A@45ca9fd]">testMethod2</td> 
  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="7ad9fa">  <td>16/01/06 13:26:32</td>   <td>5052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B.testMethod2(java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">testMethod2</td> 
  <td>main@1754841062</td>   <td></td> </tr>
<tr bgcolor="7ad9fa">  <td>16/01/06 13:26:32</td>   <td>5055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B.testMethod2(java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.B@74c31651]">testMethod2</td> 
  <td>main@1754841062</td>   <td></td> </tr>
</table>
