<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>APS_OMS_MappingTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b57c8d">  <td>16/02/17 17:23:03</td>   <td>0</td> <td title="&gt;&gt;APITestBase.setUp()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="b57c8d">  <td>16/02/17 17:23:03</td>   <td>70</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.setUpEnvironment(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&gt;&gt;setUpEnvironment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="b57c8d">  <td>16/02/17 17:23:03</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryClass(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&gt;&gt;beforeEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="9174f7">  <td>16/02/17 17:23:03</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ApsOmsMapping.initializeClassAPSTest()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&gt;&gt;initializeClassAPSTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="b57c8d">  <td>16/02/17 17:23:33</td>   <td>29282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="9174f7">  <td>16/02/17 17:23:33</td>   <td>29282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApsOmsMapping.testSaleTriggerData(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">testSaleTriggerData</td> 
  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="b57c8d">  <td>16/02/17 17:23:36</td>   <td>32949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="9174f7">  <td>16/02/17 17:23:36</td>   <td>32949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApsOmsMapping.testRedeemTriggerData(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">testRedeemTriggerData</td> 
  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="9174f7">  <td>16/02/17 17:24:42</td>   <td>99191</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ApsOmsMapping.revertClassConfiguration()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&lt;&lt;revertClassConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="b57c8d">  <td>16/02/17 17:33:23</td>   <td>619619</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEveryClass()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&lt;&lt;afterEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="b57c8d">  <td>16/02/17 17:33:23</td>   <td>619620</td> <td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterEachTestCycle()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&lt;&lt;afterEachTestCycle</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
<tr bgcolor="b57c8d">  <td>16/02/17 17:33:23</td>   <td>619646</td> <td title="&lt;&lt;APITestBase.afterSuite()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@303f7944]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55901906</td>   <td></td> </tr>
</table>
