<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbec86">  <td>16/02/26 11:25:39</td>   <td>0</td> <td title="&gt;&gt;APITestBase.setUp()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@1a7c9625]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161161313</td>   <td></td> </tr>
<tr bgcolor="bbec86">  <td>16/02/26 11:25:40</td>   <td>569</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.setUpEnvironment(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@1a7c9625]">&gt;&gt;setUpEnvironment</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161161313</td>   <td></td> </tr>
<tr bgcolor="bbec86">  <td>16/02/26 11:25:40</td>   <td>575</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryClass(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@1a7c9625]">&gt;&gt;beforeEveryClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161161313</td>   <td></td> </tr>
<tr bgcolor="9f6df0">  <td>16/02/26 11:25:40</td>   <td>576</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ApsOmsMapping.initializeClassAPSTest()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@1a7c9625]">&gt;&gt;initializeClassAPSTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161161313</td>   <td></td> </tr>
<tr bgcolor="bbec86">  <td>16/02/26 11:26:37</td>   <td>57860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeEveryMethod([Ljava.lang.Object;)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@1a7c9625]">&gt;&gt;beforeEveryMethod</td> 
<td>&nbsp;</td>  <td>main@161161313</td>   <td></td> </tr>
<tr bgcolor="9f6df0">  <td>16/02/26 11:26:37</td>   <td>57861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApsOmsMapping.testRedeemTriggerData(java.lang.String)[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@1a7c9625]">testRedeemTriggerData</td> 
  <td>main@161161313</td>   <td></td> </tr>
<tr bgcolor="9f6df0">  <td>16/02/26 11:26:37</td>   <td>58410</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ApsOmsMapping.revertClassConfiguration()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@1a7c9625]">&lt;&lt;revertClassConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161161313</td>   <td></td> </tr>
<tr bgcolor="bbec86">  <td>16/02/26 11:34:38</td>   <td>539072</td> <td title="&lt;&lt;APITestBase.afterSuite()[pri:0, instance:com.nearbuy.qa.api.test.ApsOmsMapping@1a7c9625]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161161313</td>   <td></td> </tr>
</table>
